@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.user;
}
<ol class="breadcrumb">
  <li>@Html.ActionLink("Home", "Index", "Secure")</li>
  <li class="active">Games</li>
</ol>



    <!-- Button trigger modal -->
<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#newGameModal">
  Create Game
</button>

<!-- Modal -->
<div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Step 1 -->
      
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="closeButton" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Game</h4>
      </div>
      <div class="modal-body">
          <form class="gameForm">
                <input type="hidden" name="user_id" value="@user.UserId" />
                <input type="hidden" name="authentication_token" value="@user.AuthenticationToken" />
                <input type="hidden" name="operation" value="creategame" />
                <input class="form-control" name="private" id="private" type="hidden" value="false"  />
                <input class="form-control" name="player_ids" id="player_ids" type="hidden" value=""  />
                <input class="form-control" name="win_limit" id="win_limit" type="hidden" value="10"  />
                <input class="form-control" name="user_limit" id="user_limit" type="hidden"  value="10"  />
                <input class="form-control" type="hidden" name="game_speed" id="game_speed" value="75" />

                <div id="stepOne">
                        <div class="form-group">
                      <label for="name">Name</label>
                               <input class="form-control" type="text" name="name" id="name" value="@user.UserName's Game"  />
                            </div>
                           <div class="form-group">
                      <label for="description">Description</label>
                               <input class="form-control" type="text" name="description" id="description" value="The game created by @user.UserName" />
                            </div>
                <div class="form-group">
                    <label for="Name">Win Limit</label>
                        <div id="winlimit" type="text" value="3" data-slider-min="1" data-slider-max="10" data-slider-step="1"
               data-slider-value="3" data-slider-tooltip="hide"  data-slider-orientation="horizontal" data-slider-id="winlimitSlider" ></div>
                     <span id="winlimitlabel">3</span>
                </div>
                <div class="form-group">
                    <label for="Name">User Limit</label>
                       <div id="userlimit" type="text" value="5" data-slider-min="1" data-slider-max="100" data-slider-step="1"
               data-slider-value="5" data-slider-tooltip="hide"  data-slider-orientation="horizontal" data-slider-id="userlimitSlider" ></div>
                      <span id="userlimitlabel">3</span>
                </div>
                <div class="form-group">
                    <label for="Name">Game Speed</label>
                    <div id="speed" type="text" value="75" data-slider-min="1" data-slider-max="99" data-slider-step="1"
               data-slider-value="75" data-slider-tooltip="hide"  data-slider-orientation="horizontal" data-slider-id="speedSlider" ></div>
                      <span id="speedlabel">75</span>
                </div>
              
                <div class="form-group">
                      <input id="PrivateCheckbox" type="checkbox" />Private
                </div>
              
             </div>
      
                 <div class="form-group" id="inviteFriends" style="display:none;">
                      <label for="inviteFriends">Invite Friends to Join</label>
                  <ol id="selectable">

                @foreach (var f in user.Friends)
                {
                     <li class="ui-widget-content" data-user_id="@f.FriendUser.UserId" >
                           <span class="glyphicon glyphicon-plus"></span>
                             <span class="glyphicon glyphicon-ok" style="display:none;"></span>
                             @Html.Raw("<img width=\"50px\" style=\"margin-left:5px;\" src=\"data:image/jpeg;base64," + Convert.ToBase64String( f.FriendUser.ProfileImage) + "\" />")  
                             @f.FriendUser.Name 
                           
                         </li>
                }
                 </ol>  
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id="gameWizardButton"  >Next</button>
                    <input class="btn btn-primary" type="submit" id="createGameButton" value="Create Game" style="display:none;" />
                </div>
        
              
            </form>
              <form id="joinGameForm" style="display:none;">
                  You will now be joined to the game!
                     <div class="form-group">
                  
                    <input class="btn btn-primary" type="submit" id="joinGameButton"  value="Join Game"  />
                </div>
              </form>
          </div>

      <div class="modal-footer">

     
      </div>
            
    </div>
  </div>
</div>

<h2>Games</h2>
@{
   var games = ViewBag.Games;
}

<ul>
@foreach (var g in games)
{
    <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_@g.GameID">
  @g.Name 
</button><br /><br />

<!-- Modal -->
<div class="modal fade" id="myModal_@g.GameID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">@g.Name</h4>
      </div>
      <div class="modal-body">
        
          <div  class='row'>
              <div class='col-md-4'>
                 Wins
              </div>
              <div class='col-md-4'>
                 Players
              </div>
              <div class='col-md-4'>
                 Speed
              </div>
           </div>
          <div class="row">
               <div class='col-md-4'>
                 @g.WinCount() / @g.WinLimit
              </div>
              <div class='col-md-4'>
                 @g.UserCount() / @g.UserLimit
              </div>
              <div class='col-md-4'>
                 @g.Speed
              </div>
         </div>
      </div>
      <div class="modal-footer">
          <form action='@Url.Action("GameDetail", "Secure",  new { id = g.GameID})' >
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"  >Join</button>
          </form>
         
      </div>
    </div>
  </div>
</div>
    
    
}
    </ul>

 @section scripts {

<script type="text/javascript">

    $("#NextButton").click(function () {
        $("#CreateGameStepOne").hide();
        $("#CreateGameStepTwo").show();
    });

    $("#BackButton").click(function () {
        $("#CreateGameStepOne").show();
        $("#CreateGameStepTwo").hide();
    });

 
    $("#selectable").selectable({
        
    });

    $('#speed').slider();
    $('#speed').slider().on('slide', function (event) {
        $('#speedlabel').text(event.value);
        $('#game_speed').val(event.value);
      
    });

    $('#userlimit').slider();
    $('#userlimit').slider().on('slide', function (event) {
        $('#userlimitlabel').text(event.value);
        $('#user_limit').val(event.value);

    });

    $('#winlimit').slider();
    $('#winlimit').slider().on('slide', function (event) {
        $('#winlimitlabel').text(event.value);
        $('#win_limit').val(event.value);

    });



    var sliderWidth = '500px';
    $('.slider').width(sliderWidth);

   




    $('#selectable').on('selectableselected', function (event, ui) {
        var user_id = $("li[class$='ui-selected']").attr('data-user_id');
        var player_ids = $('#player_ids').val();
        if ($("li[class$='ui-selected'] > .glyphicon-plus").is(':visible')) {
            $("li[class$='ui-selected'] > .glyphicon-plus").hide();
            $("li[class$='ui-selected'] > .glyphicon-ok").show();
      
            if (player_ids != '') {
                var temp = player_ids.split(",");
                //if (temp.length == 0) {
                //    temp[0] = player_ids;
                //}
                var exists = false;
                for (var i = 0; i < temp.length; i++) {
                    if (temp[i] == user_id) {
                        exists = true;
                    }
                }
                if (!exists) {
                    player_ids += ',' + user_id;
                }
            }
            else
            {
                player_ids += user_id;
            }
        }
        else {
            $("li[class$='ui-selected'] > .glyphicon-plus").show();
            $("li[class$='ui-selected'] > .glyphicon-ok").hide();

            if (player_ids != '') {

                var temp = player_ids.split(",");
                player_ids = '';
                for (var i = 0; i < temp.length; i++) {
                    if (temp[i] != user_id) {
                        if (player_ids != '') {
                            player_ids += ',';
                        }
                        player_ids += temp[i];
                    }
                }
            }
            else {
                player_ids = '';
            }

        }
        $('#player_ids').val(player_ids);
      
    });
  
    $("#PrivateCheckbox").change(function () {
        if ($("#PrivateCheckbox").attr("checked") == undefined) {
            $("#private").val('false');
        }
        else {
            $("#private").val('true');
        }

    });

    $("#gameWizardButton").click(function () {
        if ($("#gameWizardButton").text() == 'Next') {
            $('#stepOne').hide();
            $('#inviteFriends').show();
            $("#gameWizardButton").text("Previous");
            $('#createGameButton').show();
        }
        else {
            $("#gameWizardButton").text("Next");
            $('#stepOne').show();
            $('#inviteFriends').hide();
            $('#createGameButton').hide();
            
        }   
       

    });




    $(".gameForm").submit(function (event) {
        var o = {};
        var a = $(this).serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        console.log(o);




        var operation = o['operation'];
        var url = '@Url.Action("v0", "Service",  new {operation = "creategame"})';
        
        $.ajax({
                  type: 'POST',
                  url: url,
                  data: JSON.stringify(o),
                  success: function (data) {
                      console.log(data);
                      if (data.status == 'ok') {
                          //data-backdrop="static"
                          // $('#newGameModal').attr("data-backdrop", "static");
                      
                          $('#closeButton').hide();

                          var action = '@Url.Action("GameDetail", "Secure",  new { id = 0})';
                          action = action.substring(0, action.length - 1);
                          action += data.games[0].game_id;

                          $('#joinGameForm').attr('action', action);

                          $('#stepOne').hide();
                          $('#inviteFriends').hide();
                          $("#gameWizardButton").hide();
                          $('#createGameButton').hide();
                          $('#joinGameForm').show();
                      }
                      else {
                          //data-backdrop="static"
                      }
                  },
                  contentType: "text/html",
                  dataType: 'json'
              });
              event.preventDefault();
          });



</script>
     }