@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.user;
}
<ol class="breadcrumb">
  <li>@Html.ActionLink("Home", "Index", "Secure")</li>
  <li class="active">Games</li>
</ol>






    <!-- Button trigger modal -->
<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#newGameModal">
  Create Game
</button>

<!-- Modal -->
<div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Step 1 -->
      
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Game</h4>
      </div>
      <div class="modal-body">
          <form class="gameForm">
                <input type="hidden" name="user_id" value="@user.UserId" />
                <input type="hidden" name="auth_token" value="@user.AuthenticationToken" />
                <input type="hidden" name="operation" value="creategame" />
                <div class="form-group">
                    <label for="Name">Win Limit</label>
                    <input class="form-control" name="win_limit" id="win_limit" type="text"  />
                </div>
                <div class="form-group">
                    <label for="Name">User Limit</label>
                    <input class="form-control" name="user_limit" id="user_limit" type="text"  />
                </div>
                <div class="form-group">
                    <label for="Name">Game Speed</label>
                    <input class="form-control" name="game_speed" id="game_speed" type="text"  />
                </div>
                <div class="form-group">
                    <label for="Name">Description</label>
                    <input class="form-control" name="description" id="description" type="text"  />
                </div>
                <div class="form-group">
                    <label for="Name">Private</label>
                    <input class="form-control" name="private" id="private" type="text"  />
                </div>
                <button type="button" class="btn btn-primary" id="NextButton"  >Next</button>
                <input class="btn btn-primary" type="submit" value="Create Game" />
            </form>
          </div>

      <div class="modal-footer">

     
      </div>
            
    </div>
  </div>
</div>

<h2>Games</h2>
@{
   var games = ViewBag.Games;
}

<ul>
@foreach (var g in games)
{
    <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  @g.Name
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">@g.Name</h4>
      </div>
      <div class="modal-body">
        
          <div  class='row'>
              <div class='col-md-4'>
                 Wins
              </div>
              <div class='col-md-4'>
                 Players
              </div>
              <div class='col-md-4'>
                 Speed
              </div>
           </div>
          <div class="row">
               <div class='col-md-4'>
                 @g.WinCount() / @g.WinLimit
              </div>
              <div class='col-md-4'>
                 @g.UserCount() / @g.UserLimit
              </div>
              <div class='col-md-4'>
                 @g.Speed
              </div>
         </div>
      </div>
      <div class="modal-footer">
          <form action='@Url.Action("GameDetail", "Secure",  new { id = g.GameID})' >
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  >Join</button>
        </form>
         
      </div>
    </div>
  </div>
</div>
    
    
}
    </ul>


<script type="text/javascript">

    $("#NextButton").click(function () {
        $("#CreateGameStepOne").hide();
        $("#CreateGameStepTwo").show();
    });

    $("#BackButton").click(function () {
        $("#CreateGameStepOne").show();
        $("#CreateGameStepTwo").hide();
    });

</script>