@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
  <li>@Html.ActionLink("Home", "Index", "Secure")</li>
  <li class="active">Games</li>
</ol>






    <!-- Button trigger modal -->
<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#newGameModal">
  Create Game
</button>

<!-- Modal -->
<div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Step 1 -->
        <div id="CreateGameStepOne">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create Game</h4>
      </div>
      <div class="modal-body">
        <p>Description: </p>
        Created: Players: Wins: Speed:
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" id="NextButton"  >Next</button>
      </div>
            </div>
     <!-- Step 2 -->
          <div id="CreateGameStepTwo" style="display:none">
         <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Game</h4>
      </div>
      <div class="modal-body">
        <p>Invite: </p>
        
      </div>
      <div class="modal-footer">
   
        <button type="button" class="btn btn-primary" id="BackButton">Back</button>
        <button type="button" class="btn btn-primary" >Start Game</button>
      </div>
                </div>
    </div>
  </div>
</div>





<h2>Games</h2>
@{
   var games = ViewBag.Games;
}


    



<ul>
@foreach (var g in games)
{
  
  
    



    
    <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  @g.Name
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">@g.Name</h4>
      </div>
      <div class="modal-body">
        <p>Description: @g.Description</p>
        Created: Players: Wins: Speed:
      </div>
      <div class="modal-footer">
          <form action='@Url.Action("GameDetail", "Secure",  new { id = g.GameID})' >
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  >Join</button>
        </form>
         
      </div>
    </div>
  </div>
</div>
    
    
}
    </ul>


<script type="text/javascript">

    $("#NextButton").click(function () {
        $("#CreateGameStepOne").hide();
        $("#CreateGameStepTwo").show();
    });

    $("#BackButton").click(function () {
        $("#CreateGameStepOne").show();
        $("#CreateGameStepTwo").hide();
    });

</script>