@{
    ViewBag.Title = "Game Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var game = ViewBag.Game;
}

<ol class="breadcrumb">
  <li>@Html.ActionLink("Home", "Index", "Secure")</li>
  <li>@Html.ActionLink("Games", "Games", "Secure")</li>
  <li class="active">@game.Name</li>
</ol>


<h4>Players</h4>
@foreach (var u in game.Players)
{
    @u.UserName <br/>
}
<h4>Results</h4>
@foreach (var r in game.Results)
{
    @r.User.UserName 
    @r.Outcome <br/>
}


