
   

             
               
      



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
          @Styles.Render("~/Bootstrap/css/bootstrap.min.css")
          @Styles.Render("~/Bootstrap/css/bootstrap-theme.min.css")
          @Styles.Render("~/Content/Site.css")

       @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Bootstrap/js/bootstrap.min.js")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div id="wrap">
        <!-- Fixed navbar -->
            <div class="navbar navbar-inverse" role="navigation">
                     <div class="navbar-collapse collapse">
                         <ul class="nav navbar-nav">
            			    <li>
			                	<form class="navbar-form navbar-left" role="search">
				                    <div class="form-group">
				                        <input type="text" class="form-control" placeholder="Search">
				                    </div>
				                    <button type="submit" class="btn btn-default">Submit</button>
				                </form>
			                </li>
                             @if (Request.IsAuthenticated) {
			                <li>@Html.ActionLink("Games", "Games", "Secure")</li>
                               }
                		  </ul>
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                           @if (Request.IsAuthenticated) {
                             <a class="navbar-brand" style="padding-top:0px;" href="@Url.Action("Index", "Secure")" >
                                 <img src="/images/crown-icon.png" />
                                  <img src="/images/king-bingo-title.png" />
                             </a>
                           } else {
                                  <a class="navbar-brand" style="padding-top:0px;" href="@Url.Action("Index", "Home")" >
                                 <img src="/images/crown-icon.png" />
                                  <img src="/images/king-bingo-title.png" />
                             </a>
                           }
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                          @if (Request.IsAuthenticated) {
                             <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">   @User.Identity.Name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>  @Html.ActionLink("Profile", "Profile", new { controller = "Secure" }, new { @class = "" })</li>
                            <li>@Html.ActionLink("Friends", "Friends", "Secure")</li>
                            <li>  @Html.ActionLink("Notifications", "Notifications", new { controller = "Secure" }, new { @class = "" })</li>
                            <li class="divider"></li>
                            <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                @Html.AntiForgeryToken()
                                        }
                                 <a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
                            </li>
                        </ul>
                       </li>
                              
                          } else {
                                <li>@Html.ActionLink("Sign In", "Login", "Account")</li>
                                 <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
                          }
                      </ul>
                    </div><!--/.nav-collapse -->
             
             </div>
            <div class="container theme-showcase" role="main">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        <div id="push"></div>
        </div> <!-- /container -->
       </div> <!-- wrap -->

        <div id="footer">
             <div class="navbar " role="navigation" style="margin-bottom:0px;">
                       <div class="navbar-form navbar-left" role="search">
                           <ul id="footerLinks">
                            <li style="margin-right:80px;">© <a href="http://humboldttechgroup.com">Humboldt Technology Group, LLC</a> 2014 All Rights Reserved</li>
                                <li>@Html.ActionLink("Terms", "Terms", "Home")</li>
                                <li>@Html.ActionLink("Privacy", "Privacy", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                <li>@Html.ActionLink("API", "v0", "Service")</li>
                             </ul>
                       </div>
             </div>
        </div> <!-- end footer -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
      
     
        @RenderSection("scripts", required: false)
  </body>
</html>