@{
    
   var hash = ViewBag.friendhash;
   var users = ViewBag.users;
    
 
   var username = "";
   var user = ViewBag.user;
   if (user != null) 
   {
       username = user.UserName;   
       
   }
}
  
@foreach (var u in users)
{
    if (username != u.UserName && u.Name  != null)
         {
        <div  class='row'>
               <div class='col-md-3'>
       @if (u.ProfileImage != null)
       {
        @Html.Raw("<img width=\"100px\" src=\"data:image/jpeg;base64," + Convert.ToBase64String( u.ProfileImage) + "\" />")
       }
    </div>
    <div class='col-md-6'>
           <h3>  @Html.ActionLink((string) u.Name, "Index",new { controller = "Profile", username= u.UserName }, null) </h3>
            @u.Bio
     </div>
     <div class='col-md-3'>
        @if (user != null)
         {
            <form  class="friendForm">
                <input type="hidden" name="user_id" value="@user.UserId" />
                <input type="hidden" name="friend_user_id" value="@u.UserId" />
                 
                <input type="hidden" name="authentication_token" value="@user.AuthenticationToken" />
                @if (hash.Contains(u.UserId))
                {
                    if (hash[u.UserId] == KingBingo.Models.RequestStatus.Requested)
                    {
                     <input class="btn btn-warning" type="submit" value="Requested" />
                  
                    }
                    else if (hash[u.UserId] == KingBingo.Models.RequestStatus.Pending)
                    {
                         <input class="btn btn-warning" type="submit" value="Pending" />
                         <input type="hidden" name="operation" value="acceptfriend" />
                    }
                    else
                    {
                         <input class="btn btn-primary" type="button" value="Accepted" />
                    }
                }
                else
                {
                      <input class="btn btn-success" type="submit" value="Add Friend" />
                      <input type="hidden" name="operation" value="addfriend" />
                }
            </form>
        }
     </div>
</div>

       
         }
}
