
@{
    var user = @ViewBag.User;
    ViewBag.Title = user.Name;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
      @Html.Raw("<img width=\"100px\" src=\"data:image/jpeg;base64," + Convert.ToBase64String( user.ProfileImage) + "\" />")
      @user.Bio

      <table>
          <thead>
              <tr>
              <th>Games</th>
               <th>Wins</th>
               <th>Rank</th>
               <th>@Html.ActionLink("Friends", "Friends",new { controller = "Profile", username = ViewContext.RouteData.Values["username"] }, null)</th>
                  </tr>
          </thead>
          <tbody>
              <tr>
                  <td>@ViewBag.gameCount</td>
                  <td>@ViewBag.winCount</td>
                  <td>0</td>
                  <td>@ViewBag.friendCount</td>
              </tr>
          </tbody>
      </table>
     
   Friends<br />
    
    
@foreach (var f in user.Friends)
{
   <div> 
       @Html.Raw("<img  width=\"50px\" src=\"data:image/jpeg;base64," + Convert.ToBase64String( f.FriendUser.ProfileImage) + "\" />")

       @Html.ActionLink((string) f.FriendUser.Name, "Index",new { controller = "Profile", username= f.FriendUser.UserName }, null)

   </div>
   
   
}
     

</article>

