
@{
    var user = @ViewBag.User;
    ViewBag.Title = user.Name;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
      @user.Bio

      <table>
          <thead>
              <tr>
              <th>Games</th>
               <th>Wins</th>
               <th>Rank</th>
                 <th>@Html.ActionLink("Friends", "Friends",new { controller = "Profile", username = ViewContext.RouteData.Values["username"] }, null)</th>
                  </tr>
          </thead>
          <tbody>
              <tr>
                  <td>@ViewBag.gameCount</td>
                  <td>@ViewBag.winCount</td>
                  <td>0</td>
                  <td>@ViewBag.friendCount</td>
              </tr>
          </tbody>
      </table>
     
   Badges<br />
    
@foreach (var b in user.Badges)
{
   
   
    <img src="@Url.Content(b.ImagePath)" alt="loading" />
}
     

</article>

