@model KingBingo.Models.LoginModel

@{
    ViewBag.Title = "Sign In";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
      
       
            <div class="control-group">
                @Html.LabelFor(m => m.UserName)
                 <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                     </div>
            </div>
               <div class="control-group">
                @Html.LabelFor(m => m.Password)
                    <div class="controls">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                             </div>
            </div>
          <div class="control-group">
          Remember Me? @Html.CheckBoxFor(m => m.RememberMe)
              
                   </div>
           
             
                        
              
          
     
        <input type="submit" value="Log in" />
    </fieldset><br />
    <p>
        @Html.ActionLink("Sign Up", "Register") if you don't have an account.
    </p>
}
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
